/*General styling*/
.conditional-message {
  width: 100%;
  line-height: 30px;
  margin: 0;
  text-align: center;
}

/* Close button */
.conditional-message span {
  font-family: sans-serif;
  font-size: 1.5em;
  float: right;
  width: 10px;
  cursor: pointer;
  margin: auto 15px;
}

/* Paragraph style */
.conditional-message p {
  margin: 0;
  padding: 5px 15px;
}

/*Message at the top*/
.conditional-message-top {
  top: 0;
}
